*.pdb
*.idb
*.log
*.obj
*.lastbuildstate
*.sdf
*.tlog
*.opensdf
*.ilk
bin/debug/Decoda.ilk
bin/debug/Decoda.exe
bin/debug/Decoda.ilk
*.exe
*.ilk
build/Decoda.VC.db
build/Decoda.VC.VC.opendb
bin/debug/LuaInject.dll
bin/debug/LuaInject.dll
bin/debug/LuaInject.ilk
